*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(57, 9, 9);
    line-height: 1.3rem;
}

body{
    display: flex;
    flex-direction: column;

}


header{
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
}

.logo{
    filter: blur(10%);
}

ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

li{
    list-style: none;
    
}

li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.754);   
}

main p{
    width: 90vw;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.74);   
}

.dual-flex p:hover{
    box-shadow: 10px 10px 10px 20px wheat;
    cursor: pointer;
}

.dual-flex{
    display: flex;
    gap: 1.2rem;
    width: 90vw;
    margin: 1rem auto;
    color: rgba(255, 255, 255, 0.74); 
}

.foot{
    display: flex;
    align-items: flex-end;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.74); 
}